check/res_check
check/check.log
mash_ref/E2348-69_B2_EPEC.fasta
mash_ref/E267_B1_.fasta
mash_ref/ECOR-01_A_1.fasta
mash_ref/ECOR-06_A_0.fasta
mash_ref/ECOR-24_A_0.fasta
mash_ref/ECOR-30_B1_.fasta
mash_ref/ECOR-31_E_.fasta
mash_ref/ECOR-37_E_.fasta
mash_ref/ECOR-42_E_.fasta
mash_ref/ECOR-44_D_.fasta
mash_ref/ECOR-46_D_1.fasta
mash_ref/ECOR-49_D_2.fasta
mash_ref/ECOR-60_B2_sgVI.fasta
mash_ref/ECOR-63_B2_.fasta
mash_ref/ECOR-64_B2_sgVII.fasta
mash_ref/ECOR-70_C_.fasta
mash_ref/ECOR-72_B1_.fasta
mash_ref/ED1a_B2_sgVIII.fasta
mash_ref/ETEC_H10407_A_1.fasta
mash_ref/H001_B2_sgXII.fasta
mash_ref/H173_C_.fasta
mash_ref/H176_B2_sgV.fasta
mash_ref/327_20_G_.fasta
mash_ref/536_B2_sgIII.fasta
mash_ref/55989_B1_.fasta
mash_ref/921A_G_.fasta
mash_ref/APEC_O78_C_.fasta
mash_ref/ATCC35469T_fergusonii_.fasta
mash_ref/atcc8739_A_0a.fasta
mash_ref/B090_albertii_.fasta
mash_ref/B093_F_.fasta
mash_ref/B1147_cladeII_.fasta
mash_ref/B156_albertii_.fasta
mash_ref/B253_fergusonii_.fasta
mash_ref/B49_cladeIV_.fasta
mash_ref/B646_cladeV_.fasta
mash_ref/B691_fergusonii_.fasta
mash_ref/B992_albertii_.fasta
mash_ref/CFT073_B2_sgII.fasta
mash_ref/DAEC-14_F_.fasta
mash_ref/E1118_cladeV_.fasta
mash_ref/E1426_G_.fasta
mash_ref/E1492_cladeI_.fasta
mash_ref/E22_B1_.fasta
mash_ref/H218_C_.fasta
mash_ref/H223_B2_sgIV.fasta
mash_ref/H299_G_.fasta
mash_ref/H442_cladeI_.fasta
mash_ref/H605_cladeIV_.fasta
mash_ref/IAI01_B1_.fasta
mash_ref/IAI05_E_.fasta
mash_ref/IAI08_C_.fasta
mash_ref/IAI18_C_.fasta
mash_ref/IAI32_cladeI_.fasta
mash_ref/IAI33_F_.fasta
mash_ref/IAI39_F_.fasta
mash_ref/IAI45_cladeI_.fasta
mash_ref/K-12_A_1.fasta
mash_ref/M863_cladeI_.fasta
mash_ref/NA114_B2_sgI.fasta
mash_ref/NILS02_B1_.fasta
mash_ref/NILS05_E_.fasta
mash_ref/NILS08_A_1.fasta
mash_ref/NILS23_D_1.fasta
mash_ref/NILS24_B1_.fasta
mash_ref/NILS31_cladeI_.fasta
mash_ref/NILS36_F_.fasta
mash_ref/NILS37_A_0.fasta
mash_ref/NILS45_E_.fasta
mash_ref/NILS48_C_.fasta
mash_ref/NILS51_D_2.fasta
mash_ref/NILS77_B2_.fasta
mash_ref/O157H7_SAKAI_E_.fasta
mash_ref/O42_D_.fasta
mash_ref/REL606_A_0.fasta
mash_ref/ROAR344_fergusonii_.fasta
mash_ref/ROAR8_F_.fasta
mash_ref/S109_albertii_.fasta
mash_ref/S88_B2_sgIX.fasta
mash_ref/S91_albertii_.fasta
mash_ref/SMS-3-5_F_.fasta
mash_ref/TA004_cladeIII_.fasta
mash_ref/TA014_B2_sgII.fasta
mash_ref/TW07627_albertii_.fasta
mash_ref/UMN026_D_1.fasta
check/db/042.fasta
check/db/101-1.fasta
check/db/327-20.fasta
check/db/53638.fasta
check/db/536.fasta
check/db/55989.fasta
check/db/APECO78.fasta
check/db/ATCC35469T.fasta
check/db/B1147.fasta
check/db/IAI42.fasta
check/db/ROAR8.fasta
check/db/SMS35.fasta
check/db/TA004.fasta
check/db/B156.fasta
check/db/B253.fasta
check/db/B49.fasta
check/db/B646.fasta
check/db/B691.fasta
check/db/B7A.fasta
check/db/CFT073.fasta
check/db/E1118.fasta
check/db/E1426.fasta
check/db/E1492.fasta
check/db/E2348-69.fasta
check/db/E24377A.fasta
check/db/ECOR01.fasta
check/db/ECOR31.fasta
check/db/ECOR37.fasta
check/db/ECOR42.fasta
check/db/ECOR44.fasta
check/db/ECOR46.fasta
check/db/ECOR47.fasta
check/db/ESC_BA9053AA_AS.fasta
check/db/ESC_CA3818AA_AS.fasta
check/db/ESC_FA7277AA_AS.fasta
check/db/ESC_GA0630AA_AS.fasta
check/db/ESC_GA5165AA_AS.fasta
check/db/ESC_NA3019AA_AS.fasta
check/db/ESC_NA8746AA_AS.fasta
check/db/ESC_OA1838AA_AS.fasta
check/db/H442.fasta
check/db/H605.fasta
check/db/H95.fasta
check/db/IAI17.fasta
check/db/IAI18.fasta
check/db/IAI24.fasta
check/db/IAI32.fasta
check/db/IAI39.fasta
check/db/IAI41.fasta
